.Hamburger {
  padding: 1rem;
  cursor: pointer;

}

.Hamburger svg {
  scale: 2;
}


.Menu {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 0 10px;
  margin: 0;
  transform-origin: top;
  transform: scaleY(0);
  transition: transform 0.3s ease-in-out;
  opacity: 0;
  background-color: tomato;
  border-radius: 10px;
  margin-right: 0.3rem;
  z-index: 2;
}

.Menu li {
  padding: 10px 20px;
    box-sizing: border-box;
    border-bottom: 1px solid rgb(182, 182, 182);
}


.Menu li:last-child {
  border-bottom: none;
}

.Menu li .button {
  background: none;
  cursor: pointer;
  border-radius: 10px;
  padding: 0.5rem;
  min-width: 6rem;
  border: none;
  color: white;
    font-weight: 600;
    text-decoration: none;
}

.Hamburger:hover .Menu,
.Hamburger:focus-within .Menu {
  transform: scaleY(1);
  opacity: 1;
}
.Menu li.drinks:before {
  content: "";
  display: block;
  height: 0px;
  background-color: white;
  margin: 10px 0;
}


.subMenu {
  list-style: none;
  padding-left: 0;
}

.subMenuItem {
  margin-bottom: 0;
}