.container {
  position: relative;
  text-align: center;
}

.hero {
  position: absolute;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content {
  position: relative;
  padding: 20px;
  color: rgb(214, 214, 214);
}

.enfasis {
  color: tomato;
}

.fresh {
  color: #0ba30b;
}

.heading {
  font-size: 2.5rem;
  margin: 10px 0;
  text-align: start;
  color: white;

}

.text {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 600px;
  text-align: start;
  width: 60%;

}

.background {
  position: absolute;
  background-image: url('/background2.jpg');
  color: black;
  height: 200px;
}

.background p {
  margin: 1rem auto;
  width: 50%;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 10px;
  font-size: larger;

}

.backgroundImage {
  width: 100%;
  height: 200px;
}