.body {
  margin: 0;
  padding-top: 83px;
  /* 83px is the height of the header */
}
.navbar {
  display: none;
}

.hamburgerMenu {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
    top: 0;
  background-color: #FFF5D2;
  color: #ff4500;
  position: fixed;
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.header img {
  width: 5rem;
}

.header h1 {
  color: rgb(56, 56, 56);
}
@media (min-width: 768px) {
  .navbar {
    display: block;
    background-color: red;
  }

  .hamburgerMenu {
    display: none;
  }
}