
.waWithCartSummary {
  position: fixed;
  bottom: 7rem;
  left: 1rem;
}

.waWithoutCartSummary {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
}
.anchorHeader {
  padding-top: 90px;
  margin-top: -90px;
  display: block;
  text-align: center;
}