.cartSummary {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #ff4500;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 1000;
  color: #fff;
  border-top: 2px solid black;
}

.summaryDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(74, 35, 35);
    font-size: larger;
  }

  .summaryDetails p {
    margin: 0.5rem 0;
}

.viewCartButton {
  background-color: #ececec;
  border: none;
  padding: 0.5rem 1rem;
  margin-right: 2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  color: #ff4500;
  font-weight: bold;
  font-size: larger;
    text-decoration: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.number {
  color: black;
}
.viewCartButton:hover {
  background-color: #005bb5;
}