.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ddd;
  padding: 20px;
  margin: 10px;
  border-radius: 5px;
}

.itemTitle {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.itemDescription {
  margin: 5px 0;
}

.itemPrice {
  font-weight: bold;
}

.itemImage {
  width: 100%;
  height: auto;
}